<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICheckersService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56219/CheckersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICheckersService"
                contract="CheckersService.ICheckersService" name="BasicHttpBinding_ICheckersService" />
        </client>
    </system.serviceModel>
</configuration>